.section_howWork {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 3rem 0;
  max-width: 80%;
  margin: 3rem auto;
  gap: 1rem;
}

.best_project {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  color: white;
  padding: 1.2rem;
  width: 30rem;
  background-color: #2c3630ff;
  border-radius: 6px;
}

.valorated_higher {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  line-height: 30px;
}

.valorated_lower {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.best_project hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 10px;
}

.valorated_lower img {
  width: 50px;
  height: 50px;
  border-radius: 10rem;
}

.valorated_lower h1 {
  font-size: 1rem;
  font-weight: 500;
}

.valorated_lower span {
  color: gray;
}

.valorated_lower a {
  align-self: flex-end;
  justify-self: flex-end;
  color: #8ec7ffff;
}

.best_project h1 {
  align-self: flex-start;
}

.info_work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.info_work h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.info_work ol {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.info_work li {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
}

.info_work li h1 {
  font-size: 3rem;
  width: 3rem;
  text-align: center;
}

.info_work li p {
  color: var(--secondary-color);
  font-weight: 500;
}

@media (max-width: 768px) {
  .section_howWork {
    flex-direction: column-reverse;
  }

  .best_project {
    max-width: 85%;
  }
}
